<h3 class="text-dark">Don't Have An Account?</h3>
<p class="text-dark">Just fill out the form and register</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('fullname') && isTouched('fullname'),
                        'is-valid' : !hasErrors('fullname') && isTouched('fullname')}"
            class="form-control form-control-lg"
            formControlName="fullname"
            placeholder="Full Name">

        @if (hasError('fullname', 'minlength') || hasError('fullname', 'maxlength')) {
            <div class="invalid-feedback">
                Must be between 10-30 characters
            </div>
        }
    </div>

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('username') && isTouched('username'),
                        'is-valid' : !hasErrors('username') && isTouched('username')}"
            class="form-control form-control-lg"
            formControlName="username"
            placeholder="Username">
        @if (hasError('username', 'required')) {
            <div class="invalid-feedback">
                Username is required
            </div>
        }

        @if (hasError('username', 'minlength') || hasError('username', 'maxlength')) {
            <div class="invalid-feedback">
                Must be between 5-20 characters
            </div>
        }
    </div>

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('email') && isTouched('email'),
                        'is-valid' : !hasErrors('email') && isTouched('email')}"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="Email">

        @if (hasError('email', 'required')) {
            <div class="invalid-feedback">
                Email is required
            </div>
        }

        @if (hasError('email', 'pattern')) {
            <div class="invalid-feedback">
                Invalid email format
            </div>  
        }

        @if (hasError('email', 'maxlength')) {
            <div class="invalid-feedback">
                Can be at most 30 characters
            </div>
        }
    </div>

    <div class="mb-3">
        <input
            type="password"
            [ngClass]="{'is-invalid' : hasErrors('password') && isTouched('password'),
                        'is-valid' : !hasErrors('password') && isTouched('password')}"
            class="form-control form-control-lg"
            formControlName="password"
            placeholder="Password">

        @if (hasError('password', 'required')) {
            <div class="invalid-feedback">
                Password is required
            </div>
        }

        @if (hasError('password', 'minlength') || hasError('password', 'maxlength')) {
            <div class="invalid-feedback">
                Must be between 10-50 characters
            </div>
        }

    </div>

    <div class="mb-3">
        <input
            type="password"
            [ngClass]="{'is-invalid' : 
                        (formHasError('isMatching') || hasErrors('confirmPassword')) 
                        && isTouched('confirmPassword'),
                        'is-valid' : 
                        (!formHasError('isMatching') && !hasErrors('confirmPassword'))
                        && isTouched('confirmPassword')}"
            class="form-control form-control-lg"
            formControlName="confirmPassword"
            placeholder="Confirm Password">

        @if (hasError('confirmPassword', 'required')) {
            <div class="invalid-feedback">
                Confirm Password is required
            </div>
        }

        @if (formHasError('isMatching')) {
            <div class="invalid-feedback">
                Passwords do not match
            </div>
        }
    </div>

    <button class="btn btn-block mb-3 bg-primary text-light"
    [disabled]="!registerForm.valid">Register</button>

</form>
